*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

html{
  scroll-behavior: smooth;
}
.navbar{
  background: #131313;
  padding :1rem 8rem;
  z-index: 1000;
}
.navbar .navbar-brand{
  padding :1rem 8rem;
  font-size: 1.4rem;
  font-weight: 900;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
  color: #fff;
  font-size: 1.1rem;
  padding: 0 1.5rem;

}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
  color: #00bf85;
}


#navbarSupportedContent > button{
  background: #00bf85 ;
  font-weight: 600;
  padding: 0.4rem 5rem;
}

.mid{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.mid.hero
{
  position: relative;
}


.mid .hero p{
  width: 55%;
  font-size: 1.1rem;
  letter-spacing: 0.2p;
}


.mid video{
  width:100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.hero{
  position: relative;
}


.hero a {
  background: #00bf85 ;
  font-weight: 600;
  padding: 0.4rem 5rem;
  border-radius: 30px;
  text-decoration: none;
}

.hero a:hover{
  background: white;
}


.about{
  background: #000;
  width: 100%;
}
.about .text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;


}

.about .text h6{
   color: #00BF7F;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}


.about .text h2{
  color: #F7F5F4;
 font-weight: 700;
 font-size: 2.7rem;
 letter-spacing: 2px;
}


.about .text P{
  color: #F7F5F4;
 font-weight: 400;
 font-size: 1.1rem;
 letter-spacing: 0.5px;
}


.about .text a{
  background: #00bf85 ;
  font-weight: 600;
  padding: 0.6rem 1.4rem; 
  border-radius: 30px;
  text-decoration: none;
  color: #111;
}


.discovery{
  
  width: 100%;
}
.discovery .text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;


}

.discovery .text h6{
   color: #00BF7F;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}


.discovery .text h2{
  color:black;
 font-weight: 700;
 font-size: 2.7rem;
 letter-spacing: 2px;
}


.discovery .text P{
  color: black;
 font-weight: 400;
 font-size: 1.1rem;
 letter-spacing: 0.5px;
}


.discovery .text a{
  background:black;
  font-weight: 500;
   padding: 0.6rem 1.4rem; 
  border-radius: 30px;
  text-decoration: none;
  color:white;
}
.service{
  background: black;
}

.service .one{
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  
  padding: 2rem 1.5rem;
  border-radius: 7px;

}

.sign{
  
  width: 100%;
}
.sign .text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;


}

.sign .text h6{
   color: #00BF7F;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}


.sign .text h2{
  
 font-weight: 700;
 font-size: 2.7rem;
 letter-spacing: 2px;
}


.sign .text P{
  
 font-weight: 400;
 font-size: 1.1rem;
 letter-spacing: 0.5px;
}


.sign .text a{
  background:#111 ;
  font-weight: 500;
  padding: 0.6rem 1.4rem; 
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
}

body > footer{
  background: #111!important;
}

button.signup{
  color: white;
  background-color: green;
  border-radius:30px ;
  width: 150px;
  height: 50px;
}

